.filter-col {
  // flex-grow: 1;
  // min-width: 350px;
  // min-width: 30%;
  flex: 1 1 20%;
  min-width: 29ch;

  .filter-header {
    @include header;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 13px;

  }

  .slider-header {
    
    .row {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #2c2c2c;

        &::before {
          content: '$';
        }
      }
    }
  }
  
  .filters {
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    
    .options-form {
      padding: 25px 20px 0;
      
      h6 {
        color: $filterColor;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      #range {
        width: 100%;
      }
      
      .option-values {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 25px;

      .item-phone {
        order: 1;
      }
      .item-laptop {
        order: 2;
      }
      .item-tv {
        order: 3;
      }
      .item-computer {
        order: 4;
      }
      .item-headphone {
        order: 5;
      }
      .item-watches {
        order: 6;
      }
      .item-camera {
        order: 7;
      }
      .item-audio {
        order: 8;
      }
      .item-case {
        order: 9;
      }
      .item-drone {
        order: 10;
      }
      
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input, label {
          cursor: pointer;
          user-select: none;
        }
        
        label {
          color: $filterColor;
          margin-left: 10px;
          font-size: 14px;
          font-style: normal;
          line-height: 32px;
          font-weight: 300;
        }

        .stars {

          i {
            color: #999999;
            font-size: 16px;
          }
          .active {
            color: #FFA84C;
          }
          p {
            display: inline-block;
            color: #999999;
            margin-left: 5px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 32px;
          }
        }

        .quantity,
        .category-quantity {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 32px;
          color: $filterColor;
          user-select: none;
        }

        button {
          background: transparent;
        }
      }
      
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #D6D6D6;
      }
      
      .view-more {
        margin-top: 15px;
        font-size: 12px;
        background: transparent;
        color: rgb(128, 128, 128);

        i {
          font-size: 10px;
        }
      }
    }
    &:last-child .option-values::after {
      display: none;
    }
  }
  } 

  #reset {
    @include resetBtn;
  }
}

@media only screen and (max-width: 1200px) {
  .filter-col {
    display: none;
  }
}