.range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 45px auto 30px;

    
  .sliders_control {
    position: relative;
  
    #fromSlider {
      margin-top: 3px;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: $purpleColor;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $purpleColor;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
  }
  
  input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
  }
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 6px;
    border-radius: 8px;
    width: 100%;
    position: absolute;
    background-color: #EDEDED;
    pointer-events: none;
  }
}


.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;

  span {
    margin: 0 10px;
    user-select: none;
  }
}

#toInput, #fromInput {
  border: 0;
  user-select: none;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  color: #2c2c2c;
}
#fromInput {
  text-align: right;
}
#toInput {
  text-align: left;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}