.unvisible {
  display: none;
}

.visible {
  display: block;
}

.view-more::after {
  content: " more";
}

.view-less::after {
  content: " less";
}

#grid-view {
  display: none;
}

.toggle {
  display: block !important;
}

.range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 45px auto 30px;
}
.range_container .sliders_control {
  position: relative;
}
.range_container .sliders_control #fromSlider {
  margin-top: 3px;
}
.range_container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #6F64F8;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #6F64F8;
  cursor: pointer;
}
.range_container input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}
.range_container input[type=number] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}
.range_container input[type=number]::-webkit-inner-spin-button,
.range_container input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.range_container input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 6px;
  border-radius: 8px;
  width: 100%;
  position: absolute;
  background-color: #EDEDED;
  pointer-events: none;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}
.form_control span {
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#toInput, #fromInput {
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  color: #2c2c2c;
}

#fromInput {
  text-align: right;
}

#toInput {
  text-align: left;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.filter-col {
  flex: 1 1 20%;
  min-width: 29ch;
}
.filter-col .filter-header {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 13px;
}
.filter-col .slider-header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-col .slider-header .row h6 {
  margin-bottom: 0 !important;
}
.filter-col .filters {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}
.filter-col .filters .options-form {
  padding: 25px 20px 0;
}
.filter-col .filters .options-form h6 {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.filter-col .filters .options-form #range {
  width: 100%;
}
.filter-col .filters .options-form .option-values {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
}
.filter-col .filters .options-form .option-values .item-phone {
  order: 1;
}
.filter-col .filters .options-form .option-values .item-laptop {
  order: 2;
}
.filter-col .filters .options-form .option-values .item-tv {
  order: 3;
}
.filter-col .filters .options-form .option-values .item-computer {
  order: 4;
}
.filter-col .filters .options-form .option-values .item-headphone {
  order: 5;
}
.filter-col .filters .options-form .option-values .item-watches {
  order: 6;
}
.filter-col .filters .options-form .option-values .item-camera {
  order: 7;
}
.filter-col .filters .options-form .option-values .item-audio {
  order: 8;
}
.filter-col .filters .options-form .option-values .item-case {
  order: 9;
}
.filter-col .filters .options-form .option-values .item-drone {
  order: 10;
}
.filter-col .filters .options-form .option-values .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-col .filters .options-form .option-values .item input, .filter-col .filters .options-form .option-values .item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filter-col .filters .options-form .option-values .item label {
  color: #2c2c2c;
  margin-left: 10px;
  font-size: 14px;
  font-style: normal;
  line-height: 32px;
  font-weight: 300;
}
.filter-col .filters .options-form .option-values .item .stars i {
  color: #999999;
  font-size: 16px;
}
.filter-col .filters .options-form .option-values .item .stars .active {
  color: #FFA84C;
}
.filter-col .filters .options-form .option-values .item .stars p {
  display: inline-block;
  color: #999999;
  margin-left: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
.filter-col .filters .options-form .option-values .item .quantity,
.filter-col .filters .options-form .option-values .item .category-quantity {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  color: #2c2c2c;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filter-col .filters .options-form .option-values .item button {
  background: transparent;
}
.filter-col .filters .options-form .option-values::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #D6D6D6;
}
.filter-col .filters .options-form .option-values .view-list {
  margin-top: 15px;
  font-size: 12px;
  background: transparent;
  color: rgb(128, 128, 128);
}
.filter-col .filters .options-form .option-values .view-list i {
  font-size: 10px;
}
.filter-col .filters .options-form:last-child .option-values::after {
  display: none;
}
.filter-col #reset {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 17px 0;
  margin-top: 30px;
  color: #fff;
  background: #6F64F8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.15s;
}
.filter-col #reset:hover {
  background: rgb(100, 91, 215);
}

@media only screen and (max-width: 1200px) {
  .filter-col {
    display: none;
  }
}
.main-col {
  flex: 1 1 70%;
  min-width: 30ch;
}
.main-col .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.main-col .header-row .main-header {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 22px;
  margin-bottom: 0;
}
.main-col .header-row .row {
  display: flex;
  align-items: center;
  gap: 13px;
}
.main-col .header-row .row .select {
  position: relative;
}
.main-col .header-row .row .select .select-dropdown {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: #fff;
  color: #2C2C2C;
  padding: 10px 14px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  font-size: 13px;
  line-height: 17px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s;
}
.main-col .header-row .row .select .select-dropdown:hover {
  background: rgba(44, 44, 44, 0.05);
}
.main-col .header-row .row .select i {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #606060;
}
.main-col .header-row .row .list-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  color: #606060;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  font-size: 15px;
  cursor: pointer;
  transition: all 0.15s;
}
.main-col .header-row .row .list-option:hover {
  background: rgba(44, 44, 44, 0.05);
}
.main-col main .search-bar {
  position: relative;
  margin-bottom: 22px;
}
.main-col main .search-bar #search {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  font-style: normal;
  padding: 13px 70px 13px 25px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: #606060;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.main-col main .search-bar #search::-moz-placeholder {
  color: #999999;
}
.main-col main .search-bar #search::placeholder {
  color: #999999;
}
.main-col main .search-bar i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #606060;
}
.main-col main #cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 22px;
  justify-content: space-between;
  align-items: start;
}
.main-col main #cards-container .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.main-col main #cards-container .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 25px 0;
}
.main-col main #cards-container .card .image img {
  width: 100%;
  aspect-ratio: 3/2;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-col main #cards-container .card .main-content {
  padding: 0 20px;
}
.main-col main #cards-container .card .main-content .rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.main-col main #cards-container .card .main-content .rating-price .rating {
  color: #fff;
  background: #6F64F8;
  padding: 5.5px 12px;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.main-col main #cards-container .card .main-content .rating-price .price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #2c2c2c;
}
.main-col main #cards-container .card .main-content .rating-price .price::before {
  content: "$";
}
.main-col main #cards-container .card .main-content .description {
  margin-bottom: 25px;
}
.main-col main #cards-container .card .main-content .description h5 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  font-style: normal;
  color: #2c2c2c;
  margin-bottom: 5px;
}
.main-col main #cards-container .card .main-content .description p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  height: 30px;
  overflow: hidden;
  width: 100%;
  color: #2c2c2c;
}
.main-col main #cards-container .card .buttons {
  display: flex;
}
.main-col main #cards-container .card .buttons .wishlist {
  border-radius: 0 0 0 8px;
  color: #2c2c2c;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  transition: all 0.15s;
}
.main-col main #cards-container .card .buttons .wishlist:hover {
  background: rgba(44, 44, 44, 0.15);
}
.main-col main #cards-container .card .buttons .add-cart {
  border-radius: 0 0 8px 0;
  color: #fff;
  background: #6F64F8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  transition: all 0.15s;
}
.main-col main #cards-container .card .buttons .add-cart:hover {
  background: rgb(100, 91, 215);
}
.main-col main #cards-container .card .buttons .wishlist, .main-col main #cards-container .card .buttons .add-cart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 992px) {
  #cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 600px) {
  #cards-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
#pagitation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 23px;
}
#pagitation-wrapper #pagitation-buttons-row {
  background: #ededed;
  border-radius: 20px;
}
#pagitation-wrapper #pagitation-buttons-row .pagitation-numbers {
  background: #ededed;
  text-align: center;
  width: 40px;
  height: 40px;
}
#pagitation-wrapper #pagitation-buttons-row .pagitation-numbers:first-child {
  border-radius: 20px 0 0 20px;
}
#pagitation-wrapper #pagitation-buttons-row .pagitation-numbers:last-child {
  border-radius: 0 20px 20px 0;
}
#pagitation-wrapper #pagitation-buttons-row .active {
  background-color: #6F64F8;
  color: #fff;
  border-radius: 20px !important;
}

#menu {
  position: relative;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: #F9F9F9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px 0 0 8px;
  width: 500px;
  height: 100%;
  padding: 13px 22px;
  z-index: 100;
  overflow: auto;
}
.menu-container .close-menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.menu-container .close-menu .close-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  color: #606060;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  font-size: 15px;
  cursor: pointer;
  transition: all 0.15s;
}
.menu-container .close-menu .close-menu-btn:hover {
  background: rgba(44, 44, 44, 0.05);
}
.menu-container .info-btn {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  transition: all 0.15s;
}
.menu-container .info-btn:hover {
  background: rgba(44, 44, 44, 0.05);
}
.menu-container .info-btn .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: 60px;
  gap: 15px;
  font-size: 16px;
}
.menu-container .info-btn .info .info-header {
  display: flex;
  align-items: center;
  color: #2c2c2c;
}
.menu-container .info-btn .info .info-header p {
  margin-left: 15px;
}
.menu-container .info-btn .info .quantity {
  display: flex;
  align-items: center;
  gap: 15px;
}
.menu-container .info-btn .info .quantity .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  font-size: 14px;
  background: #6F64F8;
  color: #fff;
  border-radius: 8px;
}
.menu-container .info-btn .info .quantity .badge .badge-inner {
  margin-right: 5px;
}
.menu-container .info-btn .info .quantity i {
  color: #606060;
}
.menu-container .wishlist-content {
  display: none;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  padding: 20px;
}
.menu-container .wishlist-content h6 {
  font-size: 14px;
  margin-bottom: 20px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.wishlist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.card-item::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
}
.card-item:last-child::after {
  display: none;
}
.card-item .img-wrapper {
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 8px;
}
.card-item .img-wrapper img {
  width: 100%;
  height: 200px;
  padding: 20px 0;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
  object-fit: contain;
}
.card-item .content {
  padding: 10px 0;
}
.card-item .content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.card-item .content .row .header {
  margin-bottom: 0;
}
.card-item .content .row .price {
  font-size: 20px;
  font-weight: 400;
}
.card-item .content .row .price::after {
  content: "$";
}
.card-item .content .description {
  font-size: 12px;
  margin-bottom: 15px;
}
.card-item .remove-btn {
  color: #fff;
  background: #6F64F8;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  margin: 0 auto;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #F9F9F9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}

input, button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

.wrapper {
  max-width: 1643px;
  padding: 13px 22px;
  margin: 0 auto;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}/*# sourceMappingURL=styles.css.map */