.filter-col {
  flex: 1 1 20%;
  min-width: 29ch;
}
.filter-col .header {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 22px;
}
.filter-col .filters {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}
.filter-col .filters .options-form {
  padding: 25px 20px 0;
}
.filter-col .filters .options-form h6 {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.filter-col .filters .options-form #range {
  width: 100%;
}
.filter-col .filters .options-form .option-values {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
}
.filter-col .filters .options-form .option-values .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-col .filters .options-form .option-values .item input, .filter-col .filters .options-form .option-values .item label {
  cursor: pointer;
}
.filter-col .filters .options-form .option-values .item label {
  color: #2c2c2c;
  margin-left: 10px;
  font-size: 14px;
  font-style: normal;
  line-height: 32px;
  font-weight: 300;
}
.filter-col .filters .options-form .option-values .item .stars i {
  color: #999999;
  font-size: 16px;
}
.filter-col .filters .options-form .option-values .item .stars .active {
  color: #FFA84C;
}
.filter-col .filters .options-form .option-values .item .stars p {
  display: inline-block;
  color: #999999;
  margin-left: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
.filter-col .filters .options-form .option-values .item .quantity {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  color: #2c2c2c;
}
.filter-col .filters .options-form .option-values .item button {
  background: transparent;
}
.filter-col .filters .options-form .option-values::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #D6D6D6;
}
.filter-col .filters .options-form:last-child .option-values::after {
  display: none;
}
.filter-col #reset {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 17px 0;
  margin-top: 30px;
  color: #fff;
  background: #6F64F8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.15s;
}
.filter-col #reset:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 1200px) {
  .filter-col {
    display: none;
  }
}
.main-col {
  flex: 1 1 70%;
  min-width: 30ch;
}
.main-col .header {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 22px;
}
.main-col main .search-bar {
  position: relative;
  margin-bottom: 22px;
}
.main-col main .search-bar #search {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  font-style: normal;
  padding: 13px 70px 13px 25px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: #606060;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.main-col main .search-bar #search::-moz-placeholder {
  color: #999999;
}
.main-col main .search-bar #search::placeholder {
  color: #999999;
}
.main-col main .search-bar i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #606060;
}
.main-col main #cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 22px;
  justify-content: space-between;
  min-height: 1200px;
}
.main-col main #cards-container .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.main-col main #cards-container .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-col main #cards-container .card .image img {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  border-radius: 8px 8px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-col main #cards-container .card .container {
  padding: 0 20px;
}
.main-col main #cards-container .card .container .rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.main-col main #cards-container .card .container .rating-price .rating {
  color: #fff;
  background: #6F64F8;
  padding: 5.5px 12px;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.main-col main #cards-container .card .container .rating-price .price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #2c2c2c;
}
.main-col main #cards-container .card .container .description {
  margin-bottom: 25px;
}
.main-col main #cards-container .card .container .description h5 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  font-style: normal;
  color: #2c2c2c;
  margin-bottom: 5px;
}
.main-col main #cards-container .card .container .description p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  color: #2c2c2c;
}
.main-col main #cards-container .card .buttons {
  display: flex;
}
.main-col main #cards-container .card .buttons #wishlist {
  border-radius: 0 0 0 8px;
  color: #2c2c2c;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  transition: all 0.15s;
}
.main-col main #cards-container .card .buttons #wishlist:hover {
  opacity: 0.9;
}
.main-col main #cards-container .card .buttons #add-cart {
  border-radius: 0 0 8px 0;
  color: #fff;
  background: #6F64F8;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  transition: all 0.15s;
}
.main-col main #cards-container .card .buttons #add-cart:hover {
  opacity: 0.9;
}
.main-col main #cards-container .card .buttons #wishlist, .main-col main #cards-container .card .buttons #add-cart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

@media (max-width: 992px) {
  #cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 600px) {
  #cards-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
#pagitation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 23px;
}
#pagitation-wrapper #pagitation-buttons-row {
  background: #ededed;
  border-radius: 20px;
}
#pagitation-wrapper #pagitation-buttons-row .pagitation-numbers {
  background: #ededed;
  padding: 10px 15px;
}
#pagitation-wrapper #pagitation-buttons-row .pagitation-numbers:first-child {
  border-radius: 20px 0 0 20px;
}
#pagitation-wrapper #pagitation-buttons-row .pagitation-numbers:last-child {
  border-radius: 0 20px 20px 0;
}
#pagitation-wrapper #pagitation-buttons-row .active {
  background-color: #6F64F8;
  color: #fff;
  border-radius: 50px !important;
  padding: 10px 20px;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #F9F9F9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}

input, button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

.wrapper {
  max-width: 1643px;
  padding: 22px;
  margin: 0 auto;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}/*# sourceMappingURL=styles.css.map */